.portraitsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.portraits {
	width: 100%;
	max-width: 450px;
	height: 600px;
}

.heart {
	width: 96px;
	height: 84px;
	margin: auto 0;
}
