.img-container3 {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/SilentHill3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-container5 {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/starfox64.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.games {
	display: flex;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	height: 11.6rem;
	width: 45%;
	color: var(--aqua);
}

.influences-videoGames-card2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 2rem 2rem;
	padding: 2rem 0 1rem 2rem;
}
