.influences-container {
	position: relative;
	padding-bottom: 1rem;
}

.influences-header {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 3rem 0 2rem 0;
	-webkit-box-align: center;
	align-items: center;
}

.influences-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
}

.ifluences-header--span {
	font-size: 2.4rem;
	font-weight: bold;
	color: var(--aqua);
}

.influences-music--title,
.influences-videoGames--title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem 2rem;
	align-items: left;
}

.music-icon {
	width: 50px;
	height: 50px;
	margin-top: 2rem;
}

.gamerIcon,
.musicIcon {
	display: flex;
	justify-content: left;
	padding: 3rem 1.8rem 0.1rem;
	align-items: center;
}

.gamer-icon {
	width: 50px;
	height: 50px;
	justify-self: center;
}

.influences-music--title-span,
.influences-videoGames--title-span {
	font-size: 1.7rem;
	font-weight: bold;
	color: var(--aqua);
}

.influences-videoGames--title-span p {
	font-size: 1.4rem;
	font-weight: 400;
	padding: 0 0.7rem;
}

.influences-music--message {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin: 20px 10px 20px 0;
	padding: 1rem 2rem;
}

.influences-videoGames--message {
	display: flex;
	flex-direction: column;
	margin: 0 10px 20px 0;
	padding: 1rem 2rem;
}

.influences-music--message-span,
.influences-videoGames--message-span {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--aqua);
}

.influences-music-card,
.influences-videoGames-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1.5rem 1rem 2rem 0;
	padding: 1rem 2rem 1rem 0;
}

.influences-videoGames-card2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1.5rem 0 2rem 1rem;
	padding: 1rem 0 1rem 2rem;
}

.img-container {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/punkRock.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-container2 {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/Mirror's_Edge.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-container3 {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/SilentHill3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-container4 {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/assasins_creed_2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.img-container5 {
	display: flex;
	height: 11.6rem;
	width: 55%;
	background-image: url("../images/starfox64.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bands,
.games {
	display: flex;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	align-items: center;
	height: 11.6rem;
	width: 45%;
	color: var(--aqua);
}

.influences-music-bands--title-span,
.influences-video-Games--title-span {
	color: var(--aqua);
	font-size: 1.7rem;
	font-weight: bold;
}

@media (min-width: 1024px) {
	.influences-body {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: auto;
		width: 100%;
		scroll-snap-type: x mandatory;
		justify-content: center;
	}

	.incluences-music,
	.influences-videoGames {
		width: 50%;
	}

	.gamer-icon,
	.music-icon {
		width: 75px;
		height: 75px;
		margin: auto;
	}

	.influences-music--message {
		text-align: left;
	}

	.influences-music--title,
	.influences-music--title-span,
	.influences-videoGames--title-span,
	.influences-video-Games--title-span,
	.influences-music-bands--title-span {
		font-size: 2rem;
	}

	.influences-music--title-span p {
		text-align: center;
	}

	.influences-videoGames--message-span {
		text-align: center;
	}

	.ifluences-header--span {
		font-size: 3rem;
	}

	.influences-nick {
		text-align: center;
	}

	.influences-videoGames--title-span p {
		margin-top: 23px !important;
		font-size: 1.6rem !important;
	}

	.games {
		font-size: 1.6rem;
	}

	.influences-music--message-span {
		font-size: 1.6rem;
	}

	.img-container {
		height: 30rem;
		width: 100%;
	}

	.influences-music-card {
		flex-direction: column;
	}

	.bands {
		margin: 8rem auto;
		font-size: 1.6rem;
	}

	.img-container2,
	.img-container3,
	.img-container4,
	.img-container5 {
		height: 17rem;
	}
}
